
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav ul{
    display: flex;
    align-items: center;
}
.text-prime{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li {
    list-style: none;
    margin-right:50px ;
}
nav ul li a{
    text-decoration: none;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}
/*header*/
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}
/*banner part*/
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    max-width: 580px;
}
.banner-grieetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-pic{
    width: 580px;
}